.aboutBanner {
    background-image: linear-gradient(rgba(1, 24, 39, 0.6), rgba(1, 24, 39, 0.4)), url(https://i.ibb.co/5FKXdx4/page-header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 410px;
}

.title {
    font-size: 50px;
}