.HaveQuestion {
    overflow-x: hidden;
}

.contact {
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 25vh;
}

.contact small {
    color: gray;
    ;
}

.haveQuestionCar1 {
    margin: 0px 0px 0px -30px;
    transition: margin .5s ease;
    -webkit-transition: margin .5s ease;
    -moz-transition: margin .5s ease;
    -ms-transition: margin .5s ease;
    -o-transition: margin .5s ease;
}

.HaveQuestion:hover .haveQuestionCar1 {
    margin: 0px 0px 0px -12px;
    transition: margin .5s ease;
    -webkit-transition: margin .5s ease;
    -moz-transition: margin .5s ease;
    -ms-transition: margin .5s ease;
    -o-transition: margin .5s ease;
}




.HaveQuestion:hover .haveQuestionCar2 {
    margin: 0px 0px 0px 12px;
    transition: margin .5s ease;
    -webkit-transition: margin .5s ease;
    -moz-transition: margin .5s ease;
    -ms-transition: margin .5s ease;
    -o-transition: margin .5s ease;
}

.haveQuestionCar2 {
    margin: 0px 0px 0px 30px;
    transition: margin .5s ease;
    -webkit-transition: margin .5s ease;
    -moz-transition: margin .5s ease;
    -ms-transition: margin .5s ease;
    -o-transition: margin .5s ease;
}