@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.banner {
    position: relative;
}

.cars {
    position: absolute;
    top: 45%;
}

.caption {
    position: absolute;
    bottom: 30rem;
}

.caption h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;

}

.caption p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}


@media (max-width: 576px) {
    .cars img {
        width: 100%;
    }

    .caption {
        position: absolute;
        bottom: 8rem;
    }

    .caption h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;

    }

    .caption p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;

    }

}

@media (max-width: 768px) {
    .cars img {
        width: 100%;
    }


}

@media (max-width: 992px) {
    .cars img {
        width: 100%;
    }



}

@media (max-width: 1200px) {
    .cars img {
        width: 100%;
    }


}