@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.banner {
    position: relative;
}

.cars {
    position: absolute;
    top: 45%;
}

.caption {
    position: absolute;
    bottom: 30rem;
}

.caption h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;

}

.caption p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}